/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 */

 .loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8fff0;
  flex-direction: column;
}

.character {
  animation: bounce 1.4s infinite ease-in-out;
  text-align: center;
}

.loading-text {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}


@media screen and (max-width: 1024px) and (orientation: landscape) and (hover: none) and (pointer: coarse) {
  .force-mobile * {
    all: unset !important;
    display: revert !important;
  }
}